body {
    font-family: 'Montserrat', sans-serif;
    color: #E0E0E0;
}

main {
    background-color: #212529;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    z-index: 1; 
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

header {
    background-color: #15171A;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: #15171A;
    padding-top: 50px;
    margin-top: -10px; 
    position: relative;
    z-index: 0;
}

a {
    color: #E0E0E0;
    text-decoration: none;
    padding: 5px;
    transition: color 0.2s, box-shadow 0.2s ease;
    border-radius: 8px;
}

    a:hover, a:focus {
        color: #ffc107;
        box-shadow: 0 0 0 3px #ffc107;
    }

    