@{
    ViewData["Title"] = "About Us";
}

<h1>About algorithm</h1>
<p>
    The Base62 algorithm was chosen for generating short URLs due to its efficiency and compactness. Base62 utilizes digits and both uppercase and lowercase letters (from 0 to 9, A to Z, and a to z), allowing for the creation of short and easily readable links. Each URL is transformed from a numerical identifier into a string using this base-62 numeral system, ensuring uniqueness. This process uses the record ID rather than the original URL, guaranteeing the uniqueness of each shortened link.
</p>
